.color1 {
    background-color: #5879d1;
}

.color2 {
    background-color: #4269bf;
}

.color3 {
    background-color: #2c5aac;
}

.color4 {
    background-color: #164a9a;
}

.color5 {
    background-color: #003a87;
}